/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 10px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: hsla(208, 100%, 60%, 0.994);
}

.header .header-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .header-button-container > * {
  margin: 0 10px;
}

.header-button-divider {
  border-left: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .header nav ul {
    display: none;
  }

  .header h2 {
    display: none;
  }

  .header-button-divider {
    border: none;
  }

  .hamburger-button {
    display: inline-block;
    cursor: pointer;
  }

  .hamburger-button .bar1,
  .hamburger-button .bar2,
  .hamburger-button .bar3 {
    width: 35px;
    height: 5px;
    background-color: hsl(0, 0%, 0%);
    margin: 6px 0;
    transition: 0.4s;
  }

  .change-hamburger-button .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change-hamburger-button .bar2 {
    opacity: 0;
  }

  .change-hamburger-button .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}
